  :root {
    --penguin-size: 300px;
    --penguin-skin: black;
    --penguin-belly: white;
    --penguin-beak: orange;
  }

  .penguin {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: var(--penguin-size, 300px);
    height: var(--penguin-size, 300px);
  }
